keyboard==0.13.5
numpy==1.24.4
opencv-python-headless==4.11.0.86
packaging==24.1
pip==24.2
ply==3.11
PyAudio==0.2.11
pygame==2.6.1
pynput==1.6.0
PyQt5==5.12.3
PyQt5_sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
python-xlib==0.33
setuptools==75.1.0
# sip==4.19.13
# six==1.17.0
# tomli==2.0.1
# wheel==0.44.0